* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

:root {
  font-size: 10px;
}

@media (max-width: 1024px) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 1024px) and (max-width: 700px) {
  :root {
    font-size: 6px;
  }
}

body {
  margin: 0;
  background: #F5A05C;
}

header {
  height: 9.6rem;
  background: #FFFFFA;
  -webkit-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

header nav {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 2rem;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header nav ul .logo-list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header nav ul .logo-list .logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 9.6rem;
  color: #021718;
}

header nav ul li {
  margin-right: 2.5rem;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  display: inline-block;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #021718;
  text-decoration: none;
}

header nav ul .search-list {
  position: relative;
  cursor: pointer;
}

header nav ul .search-list img {
  width: 3rem;
  height: 3rem;
}

header nav ul .search-list .close-btn {
  display: none;
}

header nav ul .search-list #search-input {
  display: inline-block;
  padding: .5rem 1.5rem;
  font-size: 2.4rem;
  position: absolute;
  top: 0%;
  right: 0;
  border: 1px solid rgba(34, 34, 34, 0.603);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  pointer-events: none;
  z-index: 500;
  border-radius: 1rem;
}

header nav ul .search-list #search-input:focus {
  outline: none;
}

header nav ul .search-list.active-btn .close-btn {
  display: block;
}

header nav ul .search-list.active-btn .search-btn {
  display: none;
}

header nav ul .search-list.active-btn #search-input {
  opacity: 1;
  top: 200%;
  pointer-events: visible;
}

.section-1 {
  min-height: calc(100vh - 9.6rem);
  background: url("../img/shape.svg") no-repeat right top/contain;
  margin: 0 -1rem;
  padding: 5rem 0;
  max-width: 140rem;
  margin: 0 auto;
}

.section-1 .section-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

@media (max-width: 800px) {
  .section-1 .section-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-1 .section-row .item-content h1 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #021718;
}

.section-1 .section-row .item-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 4.2rem;
  color: #021718;
  max-width: 41.8rem;
}

.section-1 .section-row .item-content a {
  background: #01847F;
  border-radius: .8rem;
  display: inline-block;
  width: 19.6rem;
  height: 6rem;
  font-size: 2.4rem;
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-1 .section-row .item-photo {
  position: relative;
  overflow: hidden;
}

.section-1 .section-row .item-photo img {
  width: 50rem;
  height: 50rem;
  position: relative;
  z-index: 100;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.section-1 .section-row .item-photo img:hover {
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.section-1 .section-row .item-photo .photo-side {
  position: absolute;
  width: 43rem;
  left: 2.5rem;
  height: 43rem;
  top: 14px;
  background: #44A1A0;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.section-1 .social-icon {
  padding: 0 2rem;
}

.section-1 .social-icon a {
  margin-right: 1.5rem;
}

.section-1 .social-icon a:last-child {
  margin-right: 0;
}

.section-1 .social-icon a img {
  width: 15rem;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=style.css.map */